<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>Detail phone</div>
    <table>
        <tr>
            <th>id</th>
            <td th:utext="${phone.id}"></td>
        </tr>
        <tr>
            <th>name</th>
            <td th:utext="${phone.name}"></td>
        </tr>
        <tr>
            <th>model</th>
            <td th:utext="${phone.model}"></td>
        </tr>

    </table>
</body>
</html>